:root {
  --verde-escuro: rgb(3, 107, 82);
  --verde-claro: rgb(47, 193, 140);
  --roxo-escuro: rgb(65, 25, 127);
  --roxo-claro: rgb(137, 88, 163);
  --azul-claro: rgb(0, 213, 226);
  --azul-escuro: rgb(0, 109, 251);
  --cinza-claro: rgb(225, 229, 235);
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  --cinza3: rgb(30, 31, 36);
  --cinza4: rgb(26, 27, 28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cinza4);
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
}

header {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin: 0 auto;
}

footer {
  background-color: rgb(24, 24, 24);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.4rem;
}

.title {
  font-size: 25px;
}

.img-logo-title {
  height: 50px;
}

.image-card {
  height: 200px;
  width: 200px;
}

.step {
  height: 250px;
}

.steps {
  text-align: center;
}


.genre, .playlist {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 30px auto;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-right: 80px;
}

.genre__card, .playlist__card {
  position: relative;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: var(--cinza3);
  margin-left: 1rem;
  text-align: center;
}

.item-selected {
  background-color: var(--cinza1);
}


.genre::-webkit-scrollbar, .playlist::-webkit-scrollbar, .track::-webkit-scrollbar {
  display: none;
}

.track {
  padding-bottom: 100px;
}

.track__card {
  background-color: var(--cinza2);
  font-size: 20px;
  padding: 10px 15px;
  margin: 5px;
}

.return-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  padding: 0.2rem;
  background-color: rgb(29, 29, 29);
  width: 100%;
  z-index: 10;
}

.arrow-mobile {
  font-size: 1.2rem;
  background-color: rgba(26, 27, 28, 0.534);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 10%;
  height: 250px;
  /* top: 150px; */
  width: 60px;
  z-index: 2;
}

.contact {
  color: rgb(33, 145, 51);
  text-decoration: none;
}

@media screen and (min-width: 1000px){
  .steps {
    align-items: center;
    display: flex;
    padding: 0 2rem;
  }
  
  .genre {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
  }

  .genre, .playlist {
    padding-right: 0;
    padding-bottom: 80px;
    height: 68vh;
  }

  .playlist {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
  }

  .track {
    width: 30%;
    height: 68vh;
    overflow-y: scroll;
    /* overflow: hidden; */
    /* display: none; */
  }

  .arrow-mobile {
   right: auto;
   transform: rotate(90deg);
   margin-left: 6.95rem;
   bottom: -37px
  }
}

/* https://prod.liveshare.vsengsaas.visualstudio.com/join?C85ADF95AE7DBB1704D56A57EDC2C8792B8C */